.bgAbout{
    background-color: #F8F8F8 !important;
}

.baketSH{
    color: #3577f0;
    font-weight: 700;
}

.icbaket{
    font-weight: 700;
}

.Online{
    margin-bottom: 24px;
    line-height: 1.2;
}

.textAbout{
    font-size: 20px;
    margin-bottom: 22px;
    display: block;
    color: #777777;
}
.words{
    color: #777777;

}